<html>
<head>
<link rel="stylesheet" type="text/css" href="../public/css/index.css">
</head>
<body>
<h2 class="mainbanner">Daily Issue</h2>
<span class = "subbanner">그날의 이슈를 메일로 받아보세요</span><br>
<div class="startbox">시작하기</div>
</body>
</html>